*{
    box-sizing: border-box;
}

body{
    background-color: #352D39;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}